RewriteEngine On
RewriteRule ^home$ index.php [L]
RewriteRule ^home\/([\w]+)$ index.php?response=$1 [L]
RewriteRule ^connect$ connect.php [L]
RewriteRule ^twittersignin$ redirect.php [L]
RewriteRule ^view$ view.php [L]
RewriteRule ^user\/([\w-_]+)$ view.php?username=$1 [L]
RewriteRule ^enter\/([\d-]+)\/done$ enter.php?date=$1&done=true [L]
RewriteRule ^enter\/([\d-]+)$ enter.php?date=$1 [L]
RewriteRule ^edit$ edit.php
RewriteRule ^edit\/([\d]+)$ edit.php?promise=$1 [L]
RewriteRule ^enter$ enter.php [L]
RewriteRule ^manage$ manage.php [L]
RewriteRule ^manage\/([\w]+)$ manage.php?response=$1 [L]
RewriteRule ^manage\/done$ manage.php?done=true [L]
RewriteRule ^manage\/done\/([\d]+)$ manage.php?done=true&newpid=$1 [L]
RewriteRule ^manage\/activate\/([\d]+)$ managecallback.php?activate=$1 [L]
RewriteRule ^manage\/deactivate\/([\d]+)$ managecallback.php?deactivate=$1 [L]
RewriteRule ^manage\/delete\/([\d]+)$ managecallback.php?delete=$1 [L]
RewriteRule ^configure$ configure.php [L]
RewriteRule ^configure\/makeinvisible$ visibilitycallback.php?makeinvisible=true [L]
RewriteRule ^configure\/([\w]+)$ configure.php?response=$1 [L]
RewriteRule ^friends$ friends.php [L]
RewriteRule ^logout$ clearsessions.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^contact$ contact.php [L]
RewriteRule ^privacy$ privacy.php [L]
