html, body {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

#header {
    background-color:#66bb66;
    width:100%;
    height:50px;
    background: #66bb66 url('/images/toolbar-bg.png') repeat-x;
}

a#sitename {
    text-decoration: none;
    color:white;
    font-size:2.5em;
    margin-left:0.3em;
    float: left;
}

a#sitename img {
    border: 0;
}

ul#topmenu {
    list-style-type: none;
    white-space: nowrap;
    float: right;
}

ul#topmenu li {
    display: inline;
    margin-right: 1em;
}

ul#topmenu li a {
    text-decoration: none;
    color: white;
}

ul#topmenu li a:hover {
    text-decoration: underline;
}

ul#topmenu li a.username {
    color: #ffee66;
}

ul#topmenu li a.username:hover {
    text-decoration: none;
}

#content {
    clear:both;
    width:95%;
    margin: 20px auto 20px auto;
}

#homepagecontent {
    clear:both;
    width:900px;
    margin: 20px auto 20px auto;
}

p.homepagetitle {
    font-size: 1.6em;
    color: #888888;
    font-weight: bold;
    letter-spacing: -0.05em;
}

p.homepageintro {
    font-size: 1.4em;
    color: #aaaaaa;
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

div.homepageleft {
    width:600px;
    margin: 0;
}

div.homepageright {
    float:right;
    width:250px;
    padding-left: 50px;
}

div.twitterloginbox {
    width:100%;
    margin: 0 0 20px 0;
    background: #d0f2f3;
    padding: 10px;
    border: 3px solid #b0d0dd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px; 
    text-align: center;    
}

div.twitterloginbox a {
    color: black;  
    text-decoration: none;
    font-weight: bold;
    border: 0;    
}

div.altloginbox {
    width:100%;
    margin: 0 0 20px 0;
    background: #eeffee;
    padding: 10px;
    border: 3px solid #cceecc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px; 
    text-align: center;    
}

div.altloginbox p {
    color: #999999;
    font-weight: bold;
    border: 0;
}

div.altloginbox p input{
    margin-bottom: 10px;
}

div.historytable {
    overflow-x: auto;
}

table.historytable {
    border: 0;
    font-size: 1em;
}

table.historytable td {
    height: 1em;
    white-space:nowrap;
}

table.historytable td.month {
    font-size: 0.7em;
    padding: 0 4px 0 4px;
    background-color: #eeeeee;
}

table.historytable td.date {
    font-size: 0.7em;
    text-align: center;
    padding: 0 4px 0 4px;
}

table.historytable td.promise {
    font-size: 0.9em;
    text-align: right;
    margin: 0 0 0 8px;
    border-bottom: 1px solid #dddddd;
}

table.historytable a {
    color:#66bb66;
    text-decoration: underline;
}

ul.enterlinks {
    list-style-type: none;
    white-space: nowrap;
    float: right;
    margin:0;
    padding:10px;
    background: #eeffee;
    border: 3px solid #cceecc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

ul.enterlinks li {
    display: inline;
    margin: 0 0.5em 0 0.5em;
}

ul.enterlinks li a {
    font-weight: bold;
    color:#66bb66;
    text-decoration: underline;
}

div.summary {
    clear:both;
    width: 60%;
    margin: 80px auto 0 auto;
    text-align: center;
    font-size: 1.2em;
}

p.percentage {
    text-align: center;
    font-size: 1.8em;
    color: #66bb66;
    margin:0.3em 0 0.3em 0;
}

p.improvement {
    text-align: center;
    font-size: 1.8em;
    color: #66bb66;
    margin:0.3em 0 0.3em 0;
    padding:10px;
    background: #eeffee;
    border: 3px solid #cceecc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div.missingentries {
    margin-top:40px;
}

span.missingentries {
    margin:0;
    padding:10px;
    background: #eeffee;
    border: 3px solid #cceecc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

span.missingentries a {
    font-weight: bold;
	color:#66bb66;
}

div.centeredlistheader {
    margin:40px 20px 20px 20px;
    font-size:2em;
}

p.publicwarning {
    margin-left:60px;
}

ul.centeredlist {
    list-style-type: none;
    width: 60%;
    margin:20px auto 20px auto;
    padding:0 20px 0 20px;
    background: #eeeeee;
    border: 3px solid #dddddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

ul.centeredlist li.item {
    margin: 1em 0 1em 0;
    font-weight: bold;
    border-bottom: 1px solid #888888;
}

ul.centeredlist li.noitem {
    margin: 1em 0 1em 0;
    font-weight: normal;
    color: #888888;
}

ul.centeredlist li.item span.floatright {
    font-weight: normal;
    float: right;
}

ul.centeredlist li.item span.floatright input {
    margin-left: 20px;
}

ul.centeredlist li.item span.floatright label.yes {
    font-weight: bold;
    color: #66bb66;
}

ul.centeredlist li.item span.floatright label.no {
    font-weight: bold;
    color: #bb6666;
}

ul.centeredlist li.item span.floatright a.remove {
    font-weight: bold;
    text-decoration: none;
    margin-left: 2em;
    color: #bb6666;
}

ul.centeredlist li.item span.floatright a.add {
    font-weight: bold;
    text-decoration: none;
    margin-left: 2em;
    color: #66bb66;
}

form.centeredform {
    width: 60%;
    margin:20px auto 20px auto;
    padding:20px;
    background: #eeeeee;
    border: 3px solid #dddddd;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form.centeredform input.newpromisefield {
    font-weight: bold;
    width: 30em;
}

form.centeredform h4 {
    margin-top: 0px;
}

div.entersubmitbutton {
    width: 100px;
    margin: 20px auto 20px auto;
}

div.entersubmitbutton input.entersubmitbutton {
    width: 100px;
    height: 40px;
}

div.thanks {
    width: 60%;
    margin:40px auto 0px auto;
    font-size:1.5em;
}

div.entersummary {
    clear:both;
    width: 60%;
    margin: 40px auto 0 auto;
    text-align: center;
    font-size: 1.2em;
}

div.backtoview {
    clear:both;
    text-align: center;
    font-size: 1.2em;
    margin: 40px 0 40px 0;
}

div.backtoview a {
    color:#66bb66;
    text-decoration: underline;
}

p.good {
    margin:10px 0 0 0;
    padding:10px;
    border: 2px solid #66bb66;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #66bb66;
    font-weight: bold;
}

p.error {
    margin:10px 0 0 0;
    padding:10px;
    border: 2px solid #bb6666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #bb6666;
    font-weight: bold;
}

#footer {
    clear:both;
    width:80%;
    margin: 80px auto 20px auto;
    font-size:0.8em;
    color:#888888;
}